.header {
  width: 100%;
  height: 70px;
  background:#1d1155;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

/* ------------ LEFT ------------ */

.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 45px;
}

.app-name {
  font-size: 20px;
  font-weight: bold;
}

/* ------------ RIGHT ------------ */

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-btn {
  padding: 8px 16px;
  border-radius: 20px;
  background: #7a4dff;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.header-btn:hover {
  background: #5c30e0;
}

.logout {
  background: #ff3d6a;
}

.logout:hover {
  background: #cc2f55;
}

.user-circle {
  width: 40px;
  height: 40px;
  background: #b28bff;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
