/* RESET GLOBAL */
:host {
  display: block;
  margin: 0;
  padding: 0;
}

.home-container {
  background-color: #2d1f5e;
  height: 100vh;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  width: 80px;
}

.buttons {
  display: flex;
  gap: 20px;
}

/* BUTTONS */
.signup-btn,
.login-btn {
  padding: 20px 20px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  background-color: #cb6ce6;
  color: black;
  font-size: 16px;
  transition: 0.2s ease;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: #e88bff;
  transform: scale(1.05);
}

/* HERO SECTION */
.hero {
  text-align: center;
  font-size: 30px;
  margin-bottom: 220px;
}

.hero h1 {
  line-height: 1.4;
  font-weight: bold;
}
