<div class="home-container">
    <header class="header">
    <img src="assets/taskhub.png" alt="TaskHub Logo" class="logo" />

    <div class="buttons">
        <button class="signup-btn" [routerLink]="['/signup']">S’inscrire</button>
        <button class="login-btn" [routerLink]="['/login']">Connexion</button>
    </div>
    </header>

  <main class="hero">
    <h1>
      Bienvenue à TaskHub, l'outil qui synchronise<br />
      vos réunions, vos tâches et votre équipe.
    </h1>
  </main>
</div>
