<div class="register-container">
    <div class="logo-container">
        <img src="../assets/taskhub.png" alt="Logo" class="logo-img">
        <span class="logo-text">TaskHub</span>
    </div>
    
    <div class="main-content">
        <h1 class="title">S'inscrire</h1>
        
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
            
            <label>Nom</label>
                <input formControlName="name" type="text" placeholder="Votre nom">
                <div class="error" *ngIf="name?.touched && name?.invalid">
                    <span class="error-name" *ngIf="name?.errors?.['required']">Nom requis</span>
                    <span class="error-name" *ngIf="name?.errors?.['minlength']">Nom trop court</span>
            </div>

            <label>E-mail</label>
            <input formControlName="email" type="email" placeholder="Votre e-mail">
            <div class="error" *ngIf="email?.touched && email?.invalid">
                <span class="error-email" *ngIf="email?.errors?.['required']">Email requis</span>
                <span class="error-email" *ngIf="email?.errors?.['email']">Email invalide</span>
            </div>

            <label>Mot de passe</label>
            <input formControlName="password" type="password" placeholder="Mot de passe">
            <div class="error" *ngIf="password?.touched && password?.invalid">
                <span class="error-password" *ngIf="password?.errors?.['required']">Mot de passe requis</span>
                <span class="error-password" *ngIf="password?.errors?.['minlength']">
                    Mot de passe minimum 6 caractères
                </span>
            </div>

            <label>Confirmer votre mot de passe</label>
            <input formControlName="confirmPassword" type="password" placeholder="Confirmer le mot de passe">
            <div class="error" *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
                <span class="error-confirm" *ngIf="confirmPassword?.errors?.['required']">Confirmation requise</span>
            </div>
            <div class="error" *ngIf="registerForm.errors?.['passwordMismatch'] && confirmPassword?.touched">
                <span class="error-confirm">Les mots de passe ne correspondent pas</span>
            </div>

            <button type="submit" [disabled]="registerForm.invalid" class="register-btn">Entrer</button>
        </form>
    </div>
</div>